{# Purpose of this template: Display pages within an external context #}
<dl>
    {% for page in items %}
        <dt>{{ page|rklandingpagesmodule_formattedTitle }}</dt>
        {% if page.pageContent %}
            <dd>{{ page.pageContent|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('rklandingpagesmodule_page_display', {'id': page.getId()}) }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
