{# purpose of this template: module configuration page #}
{% extends 'RKLandingPagesModule::adminBase.html.twig' %}
{% block title __('Settings') %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="rklandingpagesmodule-config">
        {% form_theme form with [
            '@RKLandingPagesModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form) }}
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs">
            {% set tabTitle = __('List views') %}
            <li role="presentation" class="active">
                <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
            </li>
            {% set tabTitle = __('Images') %}
            <li role="presentation" class=" dropdown">
                <a id="imagesTabDrop" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-controls="imagesTabDropSections" aria-expanded="false" title="{{ tabTitle|e('html_attr') }}">{{ tabTitle }}<span class="caret"></span></a>
                <ul id="imagesTabDropSections" class="dropdown-menu" aria-labelledby="imagesTabDrop">
                <li>
                    <a id="imagesImagePictureTab" href="#tabImagesImagePicture" role="tab" data-toggle="tab" aria-controls="tabImagesImagePicture">{{ __('Images picture') }}</a>
                </li>
                </ul>
            </li>
            {% set tabTitle = __('Integration') %}
            <li role="presentation">
                <a id="vars3Tab" href="#tab3" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
            </li>
            {% set tabTitle = __('Workflows') %}
            <li role="presentation">
                <a id="workflowsTab" href="#tabWorkflows" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
            </li>
            </ul>

            {{ form_errors(form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledby="vars1Tab">
                    {% set tabTitle = __('List views') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                        <p class="alert alert-info">{{ __('Here you can configure parameters for list views.')|nl2br }}</p>
                    
                        {{ form_row(form.pageEntriesPerPage) }}
                        {{ form_row(form.imageEntriesPerPage) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabImagesImagePicture" aria-labelledby="imagesImagePictureTab">
                    {% set tabTitle = __('Image settings for images picture') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        {{ form_row(form.enableShrinkingForImagePicture) }}
                        <div id="shrinkDetailsImagePicture">
                        {{ form_row(form.shrinkWidthImagePicture) }}
                        {{ form_row(form.shrinkHeightImagePicture) }}
                        </div>
                        {{ form_row(form.thumbnailModeImagePicture) }}
                        {{ form_row(form.thumbnailWidthImagePictureView) }}
                        {{ form_row(form.thumbnailHeightImagePictureView) }}
                        {{ form_row(form.thumbnailWidthImagePictureDisplay) }}
                        {{ form_row(form.thumbnailHeightImagePictureDisplay) }}
                        {{ form_row(form.thumbnailWidthImagePictureEdit) }}
                        {{ form_row(form.thumbnailHeightImagePictureEdit) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab3" aria-labelledby="vars3Tab">
                    {% set tabTitle = __('Integration') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                        <p class="alert alert-info">{{ __('These options allow you to configure integration aspects.')|nl2br }}</p>
                    
                        {{ form_row(form.enabledFinderTypes) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabWorkflows" aria-labelledby="workflowsTab">
                    {% set tabTitle = __('Workflows') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        <p class="alert alert-info">{{ __('Here you can inspect and amend the existing workflows.') }}</p>
                
                        <h4>{{ __('Pages') }}</h4>
                        <p><a href="{{ path('zikula_workflow_editor_index', {workflow: 'rklandingpagesmodule_none'}) }}" title="{{ __('Edit workflow for pages') }}" target="_blank"><i class="fa fa-cubes"></i> {{ __('Edit pages workflow') }}</a>
                        <h4>{{ __('Images') }}</h4>
                        <p><a href="{{ path('zikula_workflow_editor_index', {workflow: 'rklandingpagesmodule_none'}) }}" title="{{ __('Edit workflow for images') }}" target="_blank"><i class="fa fa-cubes"></i> {{ __('Edit images workflow') }}</a>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@RKLandingPagesModule:js/RKLandingPagesModule.Config.js')) }}
{% endblock %}
